@charset "UTF'8";


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body
{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

body
{
    background: url('../pack-social/pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}

main
{
    position: relative;
    height: 100vh;
}

#fone
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:627px;
    width: 311px;
    background:url('../pack-social/pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
position: absolute;
top: 80px;
left: 22px;
width: 269px;
height: 471px;
}

#social-midea
{
    text-align: right;
}
#social-midea img
{
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.804);
}

#social-midea img:hover
{
border: 1px solid rgba(255, 255, 255, 0.251);
box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.804);
transition: .1s;

}
